<img src="../Img/Python_SQL_PI.png" style="width:100%">


<p style="font-size:22px;text-align:center">Семинар 5.1. Соединение таблиц. Оператор JOIN</p> 

<a id = Home></a>

**11 апреля 2022 года, пн**<br>
10:10 - 11:40<br>
Щ38/509(кк) (ул. Щербаковская, 38)<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (4 подгруппа)<br>

11:50 - 13:20<br>
Щ38/509(кк) (ул. Щербаковская, 38)<br>
Поток:ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6(3 подгруппа)


**14 апреля 2022 года, чт**<br>
17:20 - 18:50<br>
В4/3411(кк) (4-й Вешняковский проезд, 4)<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (2 подгруппа)<br>

**21 апреля 2022 года, чт**<br>
18:55 - 20:25<br>
В4/3411(кк) (4-й Вешняковский проезд, 4)<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (1 подгруппа)<br>


```
STUDENT
STUDENT_ID — числовой код, идентифицирующий студента (идентификатор студента),
SURNAME — фамилия студента,
NAME — имя студента,
STIPEND — стипендия, которую получает студент,
KURS — курс, на котором учится студент,
CITY — город, в котором живет студент,
BIRTHDAY — дата рождения студента,
UNIV_ID — идентификатор университета, в котором учится студент.


LECTURER
LECTURER_ID — идентификатор преподавателя,
SURNAME — фамилия преподавателя,
NAME — имя преподавателя,
CITY — город, в котором живет преподаватель,
UNIV_ID — идентификатор университета, в котором работает преподаватель


SUBJECT
SUBJ_ID — идентификатор предмета обучения,
SUBJ_NAME — наименование предмета обучения,
HOUR — количество часов, отводимых на изучение предмета,
SEMESTER — семестр, в котором изучается данный предмет.


UNIVERSITY
UNIV_ID — идентификатор университета,
UNIV_NAME — название университета,
RATING — рейтинг университета,
CITY — город, в котором расположен университет.


EXAM_MARKS
EXAM_ID — идентификатор экзамена,
STUDENT_ID — идентификатор студента,
SUBJ_ID — идентификатор предмета обучения,
MARK — экзаменационная оценка,
EXAM_DATE — дата экзамена.


SUBJ_LECT
LECTURER_ID — идентификатор преподавателя,
SUBJ_ID — идентификатор предмета обучения.
```

<img src="../Img/Students_Schema.png" style="width:60%">

In [1]:
#! pip install sqlalchemy

In [7]:
import pandas as pd
from sqlalchemy import MetaData, Table, create_engine, select, and_, or_, not_
from sqlalchemy.sql import func, distinct, exists

In [2]:
engine = create_engine('sqlite:///../Data/Students.db')
metadata_obj = MetaData() # Объект-контейнер, содержит информацию о схеме данных
metadata_obj.reflect(bind=engine) # Отображение БД

Создание объектов таблиц

In [3]:
exam_marks=Table("exam_marks", metadata_obj, autoload=True, autoload_with="engine")
lecturer=Table("lecturer", metadata_obj, autoload=True, autoload_with="engine")
student=Table("student", metadata_obj, autoload=True, autoload_with="engine")
subj_lect=Table("subj_lect", metadata_obj, autoload=True, autoload_with="engine")
subject=Table("subject", metadata_obj, autoload=True, autoload_with="engine")
university=Table("university", metadata_obj, autolad=True, autolad_with="engine")

In [4]:
conn=engine.connect() # Соединение

<img src=../Img/pencil.png style="width:190px;height:190px">
<p style="background-color:powderblue; font-size:125%; color: rebeccapurple;">Выполните задания</p>
<p>Выполните задания в Jupyter Notebook</p>

# Решение

In [22]:
# Ваш код здесь

#1 напишите запрос получения списка университетов с указанием кол-ва студентов обучающихся на каждом курсе

s = select(university, student.c.kurs, func.count(student.c.student_id).label("Кол-во студентов")).join(student, university.c.univ_id == student.c.univ_id)
s = s.group_by(university.c.univ_name, student.c.kurs)

pd.read_sql(s, conn)

    univ_id         univ_name  rating             city  kurs  Кол-во студентов
0        14               БГУ   326.0         Белгород     1                 1
1        14               БГУ   326.0         Белгород     2                 1
2        14               БГУ   326.0         Белгород     3                 3
3        14               БГУ   326.0         Белгород     4                 2
4        14               БГУ   326.0         Белгород     5                 2
5        18              ВГМА   327.0          Воронеж     1                 2
6        18              ВГМА   327.0          Воронеж     2                 3
7        18              ВГМА   327.0          Воронеж     4                 1
8        18              ВГМА   327.0          Воронеж     5                 1
9        10               ВГУ   296.0          Воронеж     1                 4
10       10               ВГУ   296.0          Воронеж     2                 3
11       10               ВГУ   296.0          Воронеж     3                 5
12       10               ВГУ   296.0          Воронеж     4                 1
13       10               ВГУ   296.0          Воронеж     5                 3
14       47               КФУ     NaN           Казань     1                 1
15       47               КФУ     NaN           Казань     2                 3
16       47               КФУ     NaN           Казань     4                 2
17       45  МГТУ им. Баумана   372.0           Москва     1                 1
18       45  МГТУ им. Баумана   372.0           Москва     2                 1
19       45  МГТУ им. Баумана   372.0           Москва     3                 3
20       22               МГУ   606.0           Москва     1                 2
21       22               МГУ   606.0           Москва     3                 2
22       22               МГУ   606.0           Москва     4                 3
23       22               МГУ   606.0           Москва     5                 3
24       11               НГУ   345.0      Новосибирск     1                 1
25       11               НГУ   345.0      Новосибирск     3                 1
26       11               НГУ   345.0      Новосибирск     4                 1
27       11               НГУ   345.0      Новосибирск     5                 1
28       32               РГУ   416.0           Ростов     1                 4
29       32               РГУ   416.0           Ростов     2                 1
30       32               РГУ   416.0           Ростов     4                 2
31       15               ТГУ   368.0            Томск     1                 1
32       15               ТГУ   368.0            Томск     4                 1
33       48              УЛГУ   231.0        Ульяновск     2                 3
34       48              УЛГУ   231.0        Ульяновск     3                 2
35       46   ФГБОУ "Политех"   304.0  Санкт-Петербург     1                 1
36       46   ФГБОУ "Политех"   304.0  Санкт-Петербург     2                 3
37       46   ФГБОУ "Политех"   304.0  Санкт-Петербург     3                 3
38       46   ФГБОУ "Политех"   304.0  Санкт-Петербург     4                 1
39       46   ФГБОУ "Политех"   304.0  Санкт-Петербург     5                 1
40       44              ФинУ   330.0           Москва     2                 4
41       44              ФинУ   330.0           Москва     3                 1
42       44              ФинУ   330.0           Москва     4                 3
43       44              ФинУ   330.0           Москва     5                 2

In [30]:
# 2. Покажите список преподавателей с указанием их учебных предметов

s = select(lecturer, subject.c.subj_name).join(subj_lect, lecturer.c.lecturer_id == subj_lect.c.lecturer_id).join(subject, subj_lect.c.subj_id == subject.c.subj_id)
s = s.order_by(lecturer.c.lecturer_id)

pd.read_sql(s, conn)

,lecturer_id,surname,name,city,univ_id,subj_name
0,1,Сафонова,Лукия,Смоленск,46,Английский язык
1,2,Зайцева,Юлия,Белгород,10,История
2,2,Зайцева,Юлия,Белгород,10,Теория вероятностей и математическая статистика
3,3,Мамонтова,Акулина,Троицк (Моск.),11,Программирование на языках Python и SQL
4,5,Брагина,Нинель,Кижи,48,ОБЖ
5,6,Максимова,Иванна,Сковородино,10,Анализ данных
6,6,Максимова,Иванна,Сковородино,10,Программирование на языках Python и SQL
7,11,Куликова,Ираида,Городовиковск,47,Математика
8,11,Куликова,Ираида,Городовиковск,47,История
9,12,Кудрявцева,Анна,Петушки,47,Информатика
10,15,Дорофеев,Прокофий,Санкт-Петербург,32,Программирование на языках Python и SQL
11,16,Волков,Михаил,Черусти,45,Английский язык
12,16,Волков,Михаил,Черусти,45,Программирование на языках Python и SQL
13,18,Зимин,Юлиан,Черский,46,Программирование на языках Python и SQL
14,19,Алексеев,Елисей,Мценск,10,ОБЖ
15,20,Тихонов,Ладомир,Кропоткин (Краснод.),15,Информатика
16,22,Беспалов,Юлиан,Рыбинск,15,Информатика
17,22,Беспалов,Юлиан,Рыбинск,15,Физкультура
18,23,Беляков,Мефодий,Рославль,32,Информатика
19,24,Колесников,Борис,Воронеж,10,Физика
20,46,Никонов,Иван,Воронеж,10,История
21,74,Лагутин,Павел,Москва,22,Английский язык
22,108,Струков,Николай,Москва,22,ОБЖ
23,108,Струков,Николай,Москва,22,Информатика